.product-description {
    max-width: 1280px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 12vh;
    height: 73vh;
    background: #754;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
    color: #754;
    word-wrap: break-word;
}

.product-description__img-wrap {
    background: #fff;
    width: 15%;
    height: 300px;
}

.product-description__info {
    width: 80%;
    min-height: 680px;
    height: 100%;
    background: #fff;
}