.product-list {
    width: 100%;
    max-width: 1280px;
    position: absolute;
    min-height: 709px;
    margin: auto;
    background: #754;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 120px;
    margin-left: 16vw;
    margin-right: 16vw;
    margin-bottom: 120px;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0px;
}